<div class="add-storage__form">
    <form action="/storage/add-form" method="post">
        <h3 class="form-title">Добавить склад</h3>
        <div class="group">      
            <input type="text" required name="name">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>Наименование</label>
        </div>
        <div class="buttons-block">
            <button class="save-button">Сохранить</button>
            <div class="cancel-button">Отмена</div>
        </div>
    </form>
</div>