<div class="barcode-list">
    <img class="barcode-list-exit" src="/img/form-exit.svg" alt="">
    <form action="nomenclature/barcode-list-print" method="post">
        <div class="form-list">
            <table>
            <thead class="form-list__head">
                <tr>
                    <td class="barcode-list__name">Наименование</td>
                    <td class="barcode-list__article">Артикул</td>
                    <td class="barcode-list__count">Кол-во</td>
                </tr>
            </thead>
            <tbody class="form-list__body">
                <tr>
                    <td><input type="text" value="Список пуст"></td>
                </tr>
            </tbody>
            </table>
        </div>
        <button>Подготовить список</button>
    </form>
</div>