<div class="import-exel-form">
    <form action="nomenclature/import-exel" method="post" enctype="multipart/form-data">
        <h3>Импрот товаров</h3>
        <p>! Выберите файл с формате exel</p>
        <input type="file" name="img">
        <button>Сохранить</button>
    </form>
</div>