{{> left-menu }}


<section class="nomenclature-content page-content">
    <div class="nomenclature-content__menu">
        <button class="menu-add">Создать <img src="img/add.svg" alt=""></button>
        <input class="menu-search" type="text" placeholder="Поиск по товару...">
        <button class="menu-category">Категории <img src="img/arr-down.svg" alt=""></button>
    </div>
    <table class="nomenclature-table">
        <thead>
            <tr>
                <td class="tb-name">Название <img src="img/table-arr.svg" alt=""></td>
                <td class="tb-artiqle">Артикул <img src="img/table-arr.svg" alt=""></td>
                <td class="tb-img">Фото <img src="img/table-arr.svg" alt=""></td>
                <td class="tb-num">Количество <img src="img/table-arr.svg" alt=""></td>
                <td class="tb-cost">Себестоимость <img src="img/table-arr.svg" alt=""></td>
                <td class="tb-price">Цена продажи <img src="img/table-arr.svg" alt=""></td>
            </tr>
        </thead>
        <tbody>
            <tr class="nomenclature-item">
                <td>Ярко голубая с рисунком водоворота воды 45*45</td>
                <td>350-300/011</td>
                <td><img src="img/tbimg.png" alt=""></td>
                <td>55 шт.</td>
                <td>1600 ₸</td>
                <td>4500 ₸</td>
            </tr>
            <tr class="nomenclature-item">
                <td>Ярко голубая с рисунком водоворота воды 45*45</td>
                <td>350-300/011</td>
                <td><img src="img/tbimg.png" alt=""></td>
                <td>55 шт.</td>
                <td>1600 ₸</td>
                <td>4500 ₸</td>
            </tr>
            <tr class="nomenclature-item">
                <td>Ярко голубая с рисунком водоворота воды 45*45</td>
                <td>350-300/011</td>
                <td><img src="img/tbimg.png" alt=""></td>
                <td>55 шт.</td>
                <td>1600 ₸</td>
                <td>4500 ₸</td>
            </tr>
            <tr class="nomenclature-item">
                <td>Ярко голубая с рисунком водоворота воды 45*45</td>
                <td>350-300/011</td>
                <td><img src="img/tbimg.png" alt=""></td>
                <td>55 шт.</td>
                <td>1600 ₸</td>
                <td>4500 ₸</td>
            </tr>
            <tr class="nomenclature-item">
                <td>Ярко голубая с рисунком водоворота воды 45*45</td>
                <td>350-300/011</td>
                <td><img src="img/tbimg.png" alt=""></td>
                <td>55 шт.</td>
                <td>1600 ₸</td>
                <td>4500 ₸</td>
            </tr>
        </tbody>
    </table>
</section>