.load-block{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgba(0, 175, 175, 0.26);
    P{
        font-size: 55px;
    }
}
.load-block-hide{
    display: none;
}